html, body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	margin:0px;
/* 	padding: 2px; */
	
}

.button {
	background-color: #26b39a; /* Green */
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

.header {
/* 		width: 100%; */
	height: 210px;
	top: 0px;
	left: 0px;
	padding: 10px;
	position: relative;
	background-color: #486666;
	position: relative;
}

.header .logoButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	min-width: 120px;
	height: auto;
}

.header .logoButton img {
	width: 180px;
	height: auto;
	min-width: 120px;
}

.headerButtons a {
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
	display: block;
	width: 120px;
	margin-top: 5px;
}

.sectionContent {
	margin: 0px;
	padding: 0px;
}

.sectionsTabs {
	/* 	width:100%; */
	
}

.sectionsTabs .ui-tabs-panel {
	padding: 1px;
}


.sectionDesc {
	background-color: white;
	color: gray;
	font-size: x-large;
	text-align: center;
	/* 	width:100%; */
	padding: 10px;
}

.notification {
/* 	width: 100%; */
	border: thin solid black;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.notifHeader {
	background-color: #486666;
	padding: 10px;
	color: white;
}

.notifBody {
	background-color: #F5F5DC;
	padding: 10px;
	max-width: 100%;
	/* 	overflow-x: auto; */
	word-wrap: break-word;
}

.notifFooter {
	
}


@media only screen and (max-width:980px) {
/* 	.header { */
/* 		min-height: 500px; */
/* 	} */
/* 	.header .logoButton { */
/* 		min-width: 100%; */
/* 	} */
/* 	.header .logoButton img { */
/* 		display: block; */
/* 		margin-left: auto; */
/* 		margin-right: auto; */
/* 		min-width: 350px; */
/* 		height: auto; */
/* 	} */
	.headerButtons {
/* 		margin: 10px; */
/* 		min-width: 100%; */
	}
	.headerButtons a {
/* 		height: 100px; */
		min-width: 80%;
		font-size: 1.4em;
	}
	.button {
		font-size: 1.2empx !important;
	}
/* 	.ui-button { */
/* 		min-width: 320px; */
/* 	} */
/* 	.sectionDesc { */
/* 		font-size: 50px !important; */
/* 		padding: 10px; */
/* 	} */
/* 	.ui-tabs .ui-tabs-nav li a { */
/* 		font-size: 30pt !important; */
/* 	} */
/* 	.notifHeader { */
/* 		font-size: 1.2em !important; */
/* 	} */
/* 	.notifBody { */
/* 		font-size: 1.2em !important; */
/* 	} */
}

