html, body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	margin: 0px;
	padding 0px;

	/* 	padding: 2px; */
}

.button {
	background-color: #26b39a; /* Green */
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

button {
	background-color: #26b39a; /* Green */
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

button:disabled{
	background-color:gray;	
}

.select-style {
    border: 1px solid #486666;
    
    border-radius: 8px;
    overflow: hidden;
    background: #F5F5DC url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;
}

.select-style:active{
	color: #486666;
	background-color: #26b39a;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


.header {
	/* 		width: 100%; */
	height: 210px;
	top: 0px;
	left: 0px;
	padding: 10px;
	position: relative;
	background-color: #486666;
	position: relative;
}

.header .logoButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	min-width: 120px;
	height: auto;
}

.header .logoButton img {
	width: 180px;
	height: auto;
	min-width: 120px;
}

.headerButtons a {
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
	display: block;
	width: 120px;
	margin-top: 5px;
}

.sectionContent {
	margin: 0px;
	padding: 0px;
	height:100%;
}

.noContent{
	background-color: white;
	color: gray;
	font-size: large;
	text-align: center;
	
	padding: 10px;
}

.sectionsTabs {
	/* 	width:100%; */
	
}

.sectionsTabs .ui-tabs-panel {
	padding: 1px;
}

.sectionDesc {
	background-color: white;
	color: gray;
	font-size: x-large;
	text-align: center;
	
	padding: 10px;
}

.notification {
	
	border: 2px solid #bcd;
	border-radius: 12px;
	box-shadow: 0px 5px 10px #ddd;
	margin-bottom: 20px;
	margin-left: 5px; 
	margin-right : 5px;
}

.notifHeader {
	background-color: #486666;
	padding: 10px;
	color: white;
	border-radius: 10px 10px 0 0;
}

.notifBody {
	background-color: #F5F5DC;
	padding: 10px;
	max-width: 100%;
	/* 	overflow-x: auto; */
	word-wrap: break-word;
	border-radius: 0 0 10px 10px;
}

.notifFooter {
	
}

.notifStats{
	background-color: #F5F5DC;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #486666;
}

.statsItem{
	color: gray;
	margin-right: 0.4em;
}

.filtersContaier{
	padding:10px;
	border-top: 1px solid #486666;
	
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  	grid-gap: 15px;
  	align-items: stretch;
  	justify-content: center;
  	align-content: start;
}

.filterBtn{
	width: 100%;
	height: 100%;
}

.filterCont{
/* 	margin: 10px; */
	width: 100%;
	
}

.filterTitle {
	margin-bottom: 5px;
	padding-left: 5px;	
}

.filterCont > select{
	width: 100%;
}

.statsIcon{
	margin-right: 0.2em;
}

@media only screen and (max-width:980px) {
	/* 	.header { */
	/* 		min-height: 500px; */
	/* 	} */
	/* 	.header .logoButton { */
	/* 		min-width: 100%; */
	/* 	} */
	/* 	.header .logoButton img { */
	/* 		display: block; */
	/* 		margin-left: auto; */
	/* 		margin-right: auto; */
	/* 		min-width: 350px; */
	/* 		height: auto; */
	/* 	} */
	.headerButtons {
		/* 		margin: 10px; */
		/* 		min-width: 100%; */
		
	}
	.headerButtons a {
		/* 		height: 100px; */
		min-width: 80%;
		font-size: 1.4em;
	}
	.select-style{
		min-height: 1.4em;
		font-size: 1.4em;
	}
	
	button{
		font-size: 1.4em !important;
	}
	
	.button {
		font-size: 1.2empx !important;
	}
	/* 	.ui-button { */
	/* 		min-width: 320px; */
	/* 	} */
	/* 	.sectionDesc { */
	/* 		font-size: 50px !important; */
	/* 		padding: 10px; */
	/* 	} */
	/* 	.ui-tabs .ui-tabs-nav li a { */
	/* 		font-size: 30pt !important; */
	/* 	} */
	/* 	.notifHeader { */
	/* 		font-size: 1.2em !important; */
	/* 	} */
	/* 	.notifBody { */
	/* 		font-size: 1.2em !important; */
	/* 	} */
}